<h1>Company Service</h1>


<div class="logIn " [hidden]="logInSuccess">
  <form #adminLogIn="ngForm" (ngSubmit)="onSubmit()" novalidate>

    <div>
      <div class="form-group">

        <label for="inputUserName">User Name</label>
        <input type="text" class="form-control" [class.is-invalid]="name.invalid && name.touched" name="Name" required #name="ngModel"
          id="LogInUserName" [(ngModel)]="logInModel.userName">
        <small class="text-danger" [class.d-none]="name.valid || name.untouched ">user name is required</small>

      </div>
      <div class="form-group">
        <label for="inputUserName">Password</label>
        <input type="password" class="form-control" [class.is-invalid]="password.invalid && password.touched" name="password" required
          #password="ngModel" id="LogInPassword" [(ngModel)]="logInModel.password">
        <small class="text-danger" [class.d-none]="password.valid || password.untouched ">password is required</small>
        <div>
          <small class="text-danger" [class.d-none]="!logInFailed ">log in failed wrong user name or password</small>

        </div>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="name.invalid || name.untouched || password.invalid || logInBtnClickedDisabled ">logIn</button>
    </div>
  </form>
</div>
<div>
  <button (click)="companyLogOut()" [hidden]=!logInSuccess>log out</button>
</div>



<!-- customer main content  start -->
<div class="row" [hidden]=!logInSuccess>
  <!-- links for the content -->
  <div class="col-3">
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <a class="nav-link" id="v-pills-creat-coupon-tab" data-toggle="pill" href="#v-pills-creat-coupon" role="tab" aria-controls="v-pills-creat-coupon"
        aria-selected="true">Creat Coupon</a>
      <a class="nav-link" id="v-pills-get-coupon-tab" (click)="listAllCoupons(); " data-toggle="pill" href="#v-pills-get-coupon"
        role="tab" aria-controls="v-pills-get-coupon" aria-selected="false">coupons </a>
      <a class="nav-link" id="v-pills-get-coupon-by-type-tab" (click)="activateSearchByType()" data-toggle="pill" href="#v-pills-get-coupon-by-type"
        role="tab" aria-controls="v-pills-get-coupon-by-type" aria-selected="false">coupons by type</a>
      <a class="nav-link" id="v-pills-get-coupon-by-price-tab" (click)="activateSearchByPrice()" data-toggle="pill" href="#v-pills-get-coupon-by-price"
        role="tab" aria-controls="v-pills-get-coupon-by-price" aria-selected="false">coupons by price</a>
      <a class="nav-link" id="v-pills-get-coupon-by-endDate-tab" (click)="activateSearchByEndDate()" data-toggle="pill" href="#v-pills-get-coupon-by-endDate"
        role="tab" aria-controls="v-pills-get-coupon-by-endDate" aria-selected="false">coupons by End Date</a>
      <a class="nav-link" id="v-pills-income-list-tab" (click)="listAllCompanyIncome()" data-toggle="pill" href="#v-pills-list-income"
        role="tab" aria-controls="v-pills-list-income" aria-selected="false">Income Table</a>
    </div>
  </div>
  <!-- company work space -->
  <div class="col-9">
    <div class="tab-content" id="v-pills-tabContent">



      <div class="tab-pane fade show active" active id="v-pills-creat-coupon" role="tabpanel" aria-labelledby="v-pills-creat-coupon-tab">
        <div *ngIf="logInSuccess">

          <form #companyCreatCoupon="ngForm" (ngSubmit)="onCreatCoupon()" novalidate>
            <!--creat coupon start-->
            <div class="form-group">
              <label for="inputCouponTitle">Title</label>
              <input type="text" class="form-control" [class.is-invalid]="couponTitle.invalid && couponTitle.touched " name="couponTitle"
                #couponTitle="ngModel" required id="couponTitle-creat" [(ngModel)]="couponModel.title">
              <small class="text-danger" [class.d-none]="couponTitle.valid || couponTitle.untouched ">title is required</small>
            </div>
            <div class="form-group">
              <label for="inputCouponStartDate">startDate</label>
              <input type="date" class="form-control" [class.is-invalid]="couponStartDate.invalid && couponStartDate.touched " name="couponStartDate"
                #couponStartDate="ngModel" required id="couponStartDate-creat" [(ngModel)]="couponModel.startDate">
              <small class="text-danger" [class.d-none]="couponStartDate.valid || couponStartDate.untouched ">startDate is required</small>
            </div>
            <div class="form-group">
              <label for="inputCouponEndDate">endDate</label>
              <input type="date" class="form-control" [class.is-invalid]="couponEndDate.invalid && couponEndDate.touched  " name="'couponEndDate'"
                #couponEndDate="ngModel" required id="couponEndDate-creat" [(ngModel)]="couponModel.endDate">
              <small class="text-danger" [class.d-none]="couponEndDate.valid || couponEndDate.untouched ">endDate is required</small>
            </div>

            <div class="form-group">
              <label for="inputCouponAmount">Amount</label>
              <input type="number" class="form-control" [class.is-invalid]="couponAmount.invalid && couponAmount.touched " name="couponAmount"
                required #couponAmount="ngModel" id="couponAmount-creat" [(ngModel)]="couponModel.amount">
              <small class="text-danger" [class.d-none]="couponAmount.valid || couponAmount.untouched ">Amount is required</small>

            </div>
            <div class="form-group">
              <label for="inputCouponPrice">Price</label>
              <input type="number" class="form-control" [class.is-invalid]="couponPrice.invalid && couponPrice.touched " name="couponPrice"
                required #couponPrice="ngModel" id="couponPrice-creat" [(ngModel)]="couponModel.price">
              <small class="text-danger" [class.d-none]="couponPrice.valid || couponPrice.untouched ">Amount is required</small>

            </div>

            <div class="form-group">
              <label for="inputCouponType">Coupon type</label>
              <select class="custom-select" name="couponType" [class.is-invalid]="couponType.invalid && couponType.touched" required #couponType="ngModel"
                id="couponType-creat" [(ngModel)]="couponModel.couponType">

                <option value="RESTURANS" selected>RESTURANS</option>
                <option value="ELECTRICITY">ELECTRICITY</option>
                <option value="FOOD">FOOD</option>
                <option value="HEALTH">HEALTH</option>
                <option value="SPORTS">SPORTS</option>
                <option value="CAMPING">CAMPING</option>
                <option value="TRAVELLING">TRAVELLING</option>
              </select>
              <small class="text-danger" [class.d-none]="couponType.valid || couponType.untouched ">couponType is required</small>

            </div>

            <div class="form-group">
              <label for="inputCouponMassege">Massege </label>
              <input type="text" class="form-control" [class.is-invalid]="couponMassege.invalid && couponMassege.touched" name="couponMassege"
                required #couponMassege="ngModel" id="couponMassege-creat" [(ngModel)]="couponModel.massage">
              <small class="text-danger" [class.d-none]="couponMassege.valid || couponMassege.untouched ">massege is required</small>

            </div>
            <div class="form-group">
              <label for="inputCouponImage">Image </label>
              <input type="text" class="form-control" [class.is-invalid]="couponImage.invalid && couponImage.touched" name="couponImage"
                required #couponImage="ngModel" id="couponImage-creat" [(ngModel)]="couponModel.image">
              <small class="text-danger" [class.d-none]="couponImage.valid || couponImage.untouched ">image is required</small>
            </div>

            <button [disabled]="creatCouponBtnClickedDisabled" type="submit" class="btn btn-primary" [disabled]="couponTitle.invalid || couponTitle.untouched || couponStartDate.invalid || couponStartDate.untouched ||
                        couponEndDate.invalid || couponEndDate.untouched ||couponAmount.invalid || couponAmount.untouched ||couponType.invalid || couponType.untouched ||couponMassege.invalid || couponMassege.untouched ||couponImage.invalid ">Creat</button>
            <!--creat coupon end-->
            <div>
              <small class="text-success" [class.d-none]="!couponCreatedSuccessfully">coupon created successfully</small>
              <small class="text-danger" [class.d-none]="!couponCreatedFailed">coupon created failed title may be already used</small>

            </div>
          </form>
        </div>



      </div>



      <div class="tab-pane fade show active" active id="v-pills-get-coupon" role="tabpanel" aria-labelledby="v-pills-get-coupon-tab">



        <!-- list company coupons cards start -->
        <div *ngIf="logInSuccess && couponsListed ">
          <div class="card text-center" id="couponId" *ngFor="let coupon of couponsList">
            <div class="card-header">
              Coupon title : {{coupon.title}}
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-4">
                  Coupon Start date : {{coupon.startDate}}
                </div>
                <div class="col-4">
                  Coupon End Date : {{coupon.endDate}}
                </div>
                <div class="col-4">
                  Coupon Price : {{coupon.price}}
                </div>

              </div>
              <div class="row">
                <div class="col-4">
                  Coupon Type : {{coupon.couponType}}
                </div>
                <div class="col-4">
                  Coupon Amount : {{coupon.amount}}
                </div>
                <div class="col-12">
                  Massege : {{coupon.massage}}
                </div>



              </div>

              <a (click)="saveCouponForDeleteOrUpdate(coupon)" class="btn btn-primary" data-toggle="modal" data-target="#deletCouponModalCenter">Delete</a>
              <a (click)="saveCouponForDeleteOrUpdate(coupon)" class="btn btn-primary" data-toggle="collapse" data-target="#updateCouponModalCenter"
                aria-controls="#updateCouponModalCenter">Update</a>


            </div>
            <div class="card-footer text-muted">

            </div>
          </div>

        </div>

        <!--list company coupons cards end -->

        <!--ask if to delet the coupon Modal start -->
        <div class="modal fade" id="deletCouponModalCenter" tabindex="-1" role="dialog" aria-labelledby="deletCouponModalCenterTitle"
          aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="deletCouponModalCenterTitle">Delete Coupon</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                do you want to delete this Coupon ?

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" (click)=onDeleteCoupon() class="btn btn-primary" data-dismiss="modal">Delete</button>
              </div>
            </div>
          </div>
        </div>
        <!--ask if to delet the coupon Modal end -->


        <!-- update coupon collap start -->
        <div class="collapse" id="updateCouponModalCenter">
          <div class="card card-body">
            <form #companyCreatCoupon="ngForm" (ngSubmit)="onUpdateCoupon()" novalidate>
              <!--update company-->
              <div class="form-group">
                <label for="inputCouponTitle">Title</label>
                <input type="text" class="form-control" disabled name="couponTitle" [class.is-invalid]="couponTitle.invalid && couponTitle.touched "
                  #couponTitle="ngModel" required id="couponTitle-update" [(ngModel)]="updatedCoupon.title">
                <small class="text-danger" [class.d-none]="couponTitle.valid || couponTitle.untouched ">title is required</small>

              </div>
              <div class="form-group">
                <label for="inputCouponStartDate">startDate</label>
                <input type="date" class="form-control" [class.is-invalid]="couponStartDate.invalid && couponStartDate.touched " name="couponStartDate"
                  #couponStartDate="ngModel" required id="couponStartDate-update" [(ngModel)]="updatedCoupon.startDate">
                <small class="text-danger" [class.d-none]="couponStartDate.valid || couponStartDate.untouched ">coupon startDate is required</small>
              </div>
              <div class="form-group">
                <label for="inputCouponEndDate">endDate</label>
                <input type="date" class="form-control" [class.is-invalid]="couponEndDate.invalid && couponEndDate.touched " name="'couponEndDate'"
                  #couponEndDate="ngModel" required id="couponEndDate-update" [(ngModel)]="updatedCoupon.endDate">
                <small class="text-danger" [class.d-none]="couponEndDate.valid || couponEndDate.untouched ">coupon endDate is required</small>
              </div>

              <div class="form-group">
                <label for="inputCouponAmount">Amount</label>
                <input type="number" class="form-control" [class.is-invalid]="couponAmount.invalid && couponAmount.touched " name="couponAmount"
                  required #couponAmount="ngModel" id="couponAmount-update" [(ngModel)]="updatedCoupon.amount">
                <small class="text-danger" [class.d-none]="couponAmount.valid || couponAmount.untouched ">coupon amount is required</small>
              </div>
              <div class="form-group">
                <label for="inputCouponPrice">Price</label>
                <input type="number" class="form-control" [class.is-invalid]="couponPrice.invalid && couponPrice.touched " name="couponPrice"
                  required #couponPrice="ngModel" id="couponPrice-update" [(ngModel)]="updatedCoupon.price">
                <small class="text-danger" [class.d-none]="couponPrice.valid || couponPrice.untouched ">coupon Price is required</small>
              </div>

              <div class="form-group">
                <label for="inputCouponType">Coupon type</label>
                <select class="custom-select" [class.is-invalid]="couponType.invalid && couponType.touched " name="couponType" required #couponType="ngModel"
                  id="couponType-update" [(ngModel)]="updatedCoupon.couponType">

                  <option value="RESTURANS" selected>RESTURANS</option>
                  <option value="ELECTRICITY">ELECTRICITY</option>
                  <option value="FOOD">FOOD</option>
                  <option value="HEALTH">HEALTH</option>
                  <option value="SPORTS">SPORTS</option>
                  <option value="CAMPING">CAMPING</option>
                  <option value="TRAVELLING">TRAVELLING</option>
                </select>
                <small class="text-danger" [class.d-none]="couponType.valid || couponType.untouched ">coupon type is required</small>
              </div>

              <div class="form-group">
                <label for="inputCouponMassege">Massege </label>
                <input type="text" class="form-control" [class.is-invalid]="couponMassege.invalid && couponMassege.touched " name="couponMassege"
                  required #couponMassege="ngModel" id="couponMassege-update" [(ngModel)]="updatedCoupon.massage">
                <small class="text-danger" [class.d-none]="couponMassege.valid || couponMassege.untouched ">coupon massage is required</small>

              </div>
              <div class="form-group">
                <label for="inputCouponImage">Image </label>
                <input type="text" class="form-control" [class.is-invalid]="couponImage.invalid && couponImage.touched " name="couponImage"
                  required #couponImage="ngModel" id="couponImage-update" [(ngModel)]="updatedCoupon.image">
                <small class="text-danger" [class.d-none]="couponImage.valid || couponImage.untouched ">coupon image is required</small>

              </div>

              <button [disabled]="updataCouponBtnDisabled" type="submit" class="btn btn-primary" [disabled]="couponTitle.invalid  || couponStartDate.invalid  ||
          couponEndDate.invalid ||couponAmount.invalid  ||couponType.invalid  ||couponMassege.invalid  ||couponImage.invalid "
                data-toggle="collapse" data-target="#updateCouponModalCenter" aria-controls="#updateCouponModalCenter">Update</button>
             
            </form>
          </div>
        </div>
        <!-- update coupon collap end -->
      </div>

      <!-- ////////////////////////////////////////////////////////////////////////////////////////////// -->
      <!-- ////////////////////////////////////////////////////////////////////////////////////////////////////             -->





      <!--search coupon by type start -->
      <div class="tab-pane fade " active id="v-pills-get-coupon-by-type" role="tabpanel" aria-labelledby="v-pills-get-coupon-by-type-tab">
        <div *ngIf="logInSuccess && activateGetCouponByTypeTab ">
          <!-- search coupon by type input -->
          <form #searchByCouponTypeForm="ngForm" (ngSubmit)="listSpecificCouponsByType()" novalidate>
            <div class="form-row align-items-center">
              Chose coupon type :
              <div class="col-auto my-1">

                <select class="custom-select mr-sm-2" [class.is-invalid]="couponType.invalid && couponType.touched " name="couponType" required
                  #couponType="ngModel" id="couponType-search" [(ngModel)]="serchDataForCoupons.couponType">

                  <option value="RESTURANS" selected>RESTURANS</option>
                  <option value="ELECTRICITY">ELECTRICITY</option>
                  <option value="FOOD">FOOD</option>
                  <option value="HEALTH">HEALTH</option>
                  <option value="SPORTS">SPORTS</option>
                  <option value="CAMPING">CAMPING</option>
                  <option value="TRAVELLING">TRAVELLING</option>
                </select>
              </div>
              <small class="text-danger" [class.d-none]="couponType.valid || couponType.untouched ">coupon type is required</small>

              <div class="col-auto my-1">
                <button type="submit" [disabled]="couponType.invalid" class="btn btn-primary">Search</button>
              </div>
            </div>
          </form>
        </div>


        <!--show coupon by type cards start -->
        <div *ngIf="logInSuccess && specificByTypeCouponsListed ">
          <div class="card text-center" id="couponIdByType" *ngFor="let coupon of specificByTypeCouponsList">
            <div class="card-header">
              Coupon title : {{coupon.title}}
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-4">
                  Coupon Start date : {{coupon.startDate}}
                </div>
                <div class="col-4">
                  Coupon End Date : {{coupon.endDate}}
                </div>
                <div class="col-4">
                  Coupon Price : {{coupon.price}}
                </div>

              </div>
              <div class="row">
                <div class="col-4">
                  Coupon Type : {{coupon.couponType}}
                </div>
                <div class="col-4">
                  Coupon Amount : {{coupon.amount}}
                </div>
                <div class="col-12">
                  Massege : {{coupon.massage}}
                </div>



              </div>

              <a (click)="saveCouponForDeleteOrUpdate(coupon)" class="btn btn-primary" data-toggle="modal" data-target="#deletCouponByTypeModalCenter">Delete</a>
              <a (click)="saveCouponForDeleteOrUpdate(coupon)" class="btn btn-primary" data-toggle="collapse" data-target="#updateCouponByTypeModalCenter"
                aria-controls="#updateCouponByTypeModalCenter">Update</a>


            </div>
            <div class="card-footer text-muted">

            </div>
          </div>

        </div>

        <!--show coupon by type cards end -->
        <!--ask if to delete coupon Modal by type start -->
        <div class="modal fade" id="deletCouponByTypeModalCenter" tabindex="-1" role="dialog" aria-labelledby="deletCouponByTypeModalCenterTitle"
          aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="deletCouponByTypeModalCenterTitle">Delete Coupon</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                do you want to delete this Coupon ?

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" (click)=onDeleteCoupon() class="btn btn-primary" data-dismiss="modal">Delete</button>
              </div>
            </div>
          </div>
        </div>
        <!--ask if to delete coupon Modal by type end -->


        <!-- update compny by type collap start -->
        <div class="collapse" id="updateCouponByTypeModalCenter">
          <div class="card card-body">
            <form #searchCompanyByTypeUpdateCoupon="ngForm" (ngSubmit)="onUpdateCoupon()" novalidate>
              <!--update company-->
              <div class="form-group">
                <label for="inputCouponTitle">Title</label>
                <input type="text" class="form-control" [class.is-invalid]="couponByTypeTitle.invalid && couponByTypeTitle.touched " disabled
                  name="couponByTypeTitle" #couponByTypeTitle="ngModel" required id="couponByTypeTitle-update" [(ngModel)]="updatedCoupon.title">
                <small class="text-danger" [class.d-none]="couponByTypeTitle.valid || couponByTypeTitle.untouched ">couponType is required</small>

              </div>
              <div class="form-group">
                <label for="inputCouponStartDate">startDate</label>
                <input type="date" class="form-control" [class.is-invalid]="couponByTypeStartDate.invalid && couponByTypeStartDate.touched "
                  name="couponByTypeStartDate" #couponByTypeStartDate="ngModel" required id="couponByTypeStartDate-update"
                  [(ngModel)]="updatedCoupon.startDate">
                <small class="text-danger" [class.d-none]="couponByTypeStartDate.valid || couponByTypeStartDate.untouched ">coupon startDate is required</small>

              </div>
              <div class="form-group">
                <label for="inputCouponEndDate">endDate</label>
                <input type="date" class="form-control" [class.is-invalid]="couponByTypeEndDate.invalid && couponByTypeEndDate.touched "
                  name="'couponByTypeEndDate'" #couponByTypeEndDate="ngModel" required id="couponByTypeEndDate-update" [(ngModel)]="updatedCoupon.endDate">
                <small class="text-danger" [class.d-none]="couponByTypeEndDate.valid || couponByTypeEndDate.untouched ">coupon type is required</small>

              </div>

              <div class="form-group">
                <label for="inputCouponAmount">Amount</label>
                <input type="number" class="form-control" [class.is-invalid]="couponByTypeAmount.invalid && couponByTypeAmount.touched "
                  name="couponByTypeAmount" required #couponByTypeAmount="ngModel" id="couponByTypeAmount-update" [(ngModel)]="updatedCoupon.amount">\
                <small class="text-danger" [class.d-none]="couponByTypeAmount.valid || couponByTypeAmount.untouched ">coupon Amount is required</small>

              </div>
              <div class="form-group">
                <label for="inputCouponPrice">Price</label>
                <input type="number" class="form-control" [class.is-invalid]="couponByTypePrice.invalid && couponByTypePrice.touched " name="couponByTypePrice"
                  required #couponByTypePrice="ngModel" id="couponByTypePrice-update" [(ngModel)]="updatedCoupon.price">
                <small class="text-danger" [class.d-none]="couponByTypePrice.valid || couponByTypePrice.untouched ">coupon Price is required</small>

              </div>

              <div class="form-group">
                <label for="inputCouponType">Coupon type</label>
                <select class="custom-select" name="couponByTypeType" [class.is-invalid]="couponByTypeType.invalid && couponByTypeType.touched "
                  required #couponByTypeType="ngModel" id="couponByTypeType-update" [(ngModel)]="updatedCoupon.couponType">

                  <option value="RESTURANS" selected>RESTURANS</option>
                  <option value="ELECTRICITY">ELECTRICITY</option>
                  <option value="FOOD">FOOD</option>
                  <option value="HEALTH">HEALTH</option>
                  <option value="SPORTS">SPORTS</option>
                  <option value="CAMPING">CAMPING</option>
                  <option value="TRAVELLING">TRAVELLING</option>
                </select>
                <small class="text-danger" [class.d-none]="couponByTypeType.valid || couponByTypeType.untouched ">coupon Price is required</small>

              </div>

              <div class="form-group">
                <label for="inputCouponMassege">Massege </label>
                <input type="text" class="form-control" [class.is-invalid]="couponByTypeMassege.invalid && couponByTypeMassege.touched "
                  name="couponByTypeMassege" required #couponByTypeMassege="ngModel" id="couponByTypeMassege-update" [(ngModel)]="updatedCoupon.massage">
                <small class="text-danger" [class.d-none]="couponByTypeMassege.valid || couponByTypeMassege.untouched ">coupon Price is required</small>

              </div>
              <div class="form-group">
                <label for="inputCouponImage">Image </label>
                <input type="text" class="form-control" [class.is-invalid]="couponByTypeImage.invalid && couponByTypeImage.touched " name="couponByTypeImage"
                  required #couponByTypeImage="ngModel" id="couponByTypeImage-update" [(ngModel)]="updatedCoupon.image">
                <small class="text-danger" [class.d-none]="couponByTypeImage.valid || couponByTypeImage.untouched ">coupon Price is required</small>

              </div>

              <button [disabled]="updataCouponBtnDisabled" type="submit" class="btn btn-primary" [disabled]="couponByTypeTitle.invalid  || couponByTypeStartDate.invalid  ||
          couponByTypeEndDate.invalid ||couponByTypeAmount.invalid  ||couponByTypeType.invalid  ||couponByTypeMassege.invalid  ||couponByTypeImage.invalid "
                data-toggle="collapse" data-target="#updateCouponByTypeModalCenter" aria-controls="#updateCouponByTypeModalCenter">Update</button>
              
            </form>
          </div>
        </div>
        <!-- update compny by type collap end -->

      </div>
      <!--search coupon by type end -->




      <!--search coupon by price start -->
      <div class="tab-pane fade " id="v-pills-get-coupon-by-price" role="tabpanel" aria-labelledby="v-pills-get-coupon-by-price-tab">
        <div *ngIf="logInSuccess && activateGetCouponByPriceTab ">
          <!-- search coupon by price input -->
          <form #searchByCouponPriceForm="ngForm" (ngSubmit)="listSpecificCoouponsByPrice()" novalidate>
            <div class="form-row align-items-center">
              <div class="col-auto my-1">
                Enter coupon Price :
                <input type="number" name="couponPrice" required #couponPrice="ngModel" id="couponPrice-search" [(ngModel)]="serchDataForCouponsByPrice.price">
              </div>

              <div class="col-auto my-1">
                <button type="submit" [disabled]="couponPrice.invalid" class="btn btn-primary">Search</button>
              </div>
            </div>
          </form>
        </div>


        <!-- coupon by Price cards start -->
        <div *ngIf="logInSuccess && specificByPriceCouponsListed ">
          <div class="card text-center" id="couponIdByPrice" *ngFor="let coupon of specificByPriceCouponsList">
            <div class="card-header">
              Coupon title : {{coupon.title}}
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-4">
                  Coupon Start date : {{coupon.startDate}}
                </div>
                <div class="col-4">
                  Coupon End Date : {{coupon.endDate}}
                </div>
                <div class="col-4">
                  Coupon Price : {{coupon.price}}
                </div>

              </div>
              <div class="row">
                <div class="col-4">
                  Coupon Type : {{coupon.couponType}}
                </div>
                <div class="col-4">
                  Coupon Amount : {{coupon.amount}}
                </div>
                <div class="col-12">
                  Massege : {{coupon.massage}}
                </div>



              </div>

              <a (click)="saveCouponForDeleteOrUpdate(coupon)" class="btn btn-primary" data-toggle="modal" data-target="#deletCouponByPriceModalCenter">Delete</a>
              <a (click)="saveCouponForDeleteOrUpdate(coupon)" class="btn btn-primary" data-toggle="collapse" data-target="#updateCouponByPriceModalCenter"
                aria-controls="#updateCouponByTypeModalCenter">Update</a>


            </div>
            <div class="card-footer text-muted">

            </div>
          </div>

        </div>

        <!-- coupon by Price cards end -->
        <!--ask if to delete coupon Modal by Price start -->
        <div class="modal fade" id="deletCouponByPriceModalCenter" tabindex="-1" role="dialog" aria-labelledby="deletCouponByPriceModalCenterTitle"
          aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="deletCouponByPriceModalCenterTitle">Delete Coupon</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                do you want to delete this Coupon ?

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" (click)=onDeleteCoupon() class="btn btn-primary" data-dismiss="modal">Delete</button>
              </div>
            </div>
          </div>
        </div>
        <!--ask if to delete coupon Modal by price end -->


        <!-- update coupon by price collap start -->
        <div class="collapse" id="updateCouponByPriceModalCenter">
          <div class="card card-body">
            <form #searchCompanyByPriceUpdateCoupon="ngForm" (ngSubmit)="onUpdateCoupon()" novalidate>
              <!--update coupon-->
              <div class="form-group">
                <label for="inputCouponTitle">Title</label>
                <input type="text" class="form-control" [class.is-invalid]="couponByPriceTitle.invalid && couponByPriceTitle.touched " disabled
                  name="couponByPriceTitle" #couponByPriceTitle="ngModel" required id="couponByPriceTitle-update" [(ngModel)]="updatedCoupon.title">
                <small class="text-danger" [class.d-none]="couponByPriceTitle.valid || couponByPriceTitle.untouched ">title is required</small>

              </div>
              <div class="form-group">
                <label for="inputCouponStartDate">startDate</label>
                <input type="date" class="form-control" [class.is-invalid]="couponByPriceStartDate.invalid && couponByPriceStartDate.touched "
                  name="couponByPriceStartDate" #couponByPriceStartDate="ngModel" required id="couponByPriceStartDate-update"
                  [(ngModel)]="updatedCoupon.startDate">
                <small class="text-danger" [class.d-none]="couponByPriceStartDate.valid || couponByPriceStartDate.untouched ">startDate is required</small>

              </div>
              <div class="form-group">
                <label for="inputCouponEndDate">endDate</label>
                <input type="date" class="form-control" [class.is-invalid]="couponByPriceEndDate.invalid && couponByPriceEndDate.touched "
                  name="'couponByPriceEndDate'" #couponByPriceEndDate="ngModel" required id="couponByPriceEndDate-update" [(ngModel)]="updatedCoupon.endDate">
                <small class="text-danger" [class.d-none]="couponByPriceEndDate.valid || couponByPriceEndDate.untouched ">endDate is required</small>

              </div>

              <div class="form-group">
                <label for="inputCouponAmount">Amount</label>
                <input type="number" class="form-control" [class.is-invalid]="couponByPriceAmount.invalid && couponByPriceAmount.touched "
                  name="couponByPriceAmount" required #couponByPriceAmount="ngModel" id="couponByPriceAmount-update" [(ngModel)]="updatedCoupon.amount">
                <small class="text-danger" [class.d-none]="couponByPriceAmount.valid || couponByPriceAmount.untouched ">amount is required</small>

              </div>
              <div class="form-group">
                <label for="inputCouponPrice">Price</label>
                <input type="number" class="form-control" [class.is-invalid]="couponByPricePrice.invalid && couponByPricePrice.touched "
                  name="couponByPricePrice" required #couponByPricePrice="ngModel" id="couponByPricePrice-update" [(ngModel)]="updatedCoupon.price">
                <small class="text-danger" [class.d-none]="couponByPricePrice.valid || couponByPricePrice.untouched ">Price is required</small>

              </div>

              <div class="form-group">
                <label for="inputCouponType">Coupon type</label>
                <select class="custom-select" name="couponByPriceType" [class.is-invalid]="couponByPriceType.invalid && couponByPriceType.touched "
                  required #couponByPriceType="ngModel" id="couponByPriceType-update" [(ngModel)]="updatedCoupon.couponType">

                  <option value="RESTURANS" selected>RESTURANS</option>
                  <option value="ELECTRICITY">ELECTRICITY</option>
                  <option value="FOOD">FOOD</option>
                  <option value="HEALTH">HEALTH</option>
                  <option value="SPORTS">SPORTS</option>
                  <option value="CAMPING">CAMPING</option>
                  <option value="TRAVELLING">TRAVELLING</option>
                </select>
                <small class="text-danger" [class.d-none]="couponByPriceType.valid || couponByPriceType.untouched ">couponType is required</small>

              </div>

              <div class="form-group">
                <label for="inputCouponMassege">Massege </label>
                <input type="text" class="form-control" [class.is-invalid]="couponByPriceMassege.invalid && couponByPriceMassege.touched "
                  name="couponByPriceMassege" required #couponByPriceMassege="ngModel" id="couponByPriceMassege-update" [(ngModel)]="updatedCoupon.massage">
                <small class="text-danger" [class.d-none]="couponByPriceMassege.valid || couponByPriceMassege.untouched ">massege is required</small>

              </div>
              <div class="form-group">
                <label for="inputCouponImage">Image </label>
                <input type="text" class="form-control" [class.is-invalid]="couponByPriceImage.invalid && couponByPriceImage.touched " name="couponByPriceImage"
                  required #couponByPriceImage="ngModel" id="couponByPriceImage-update" [(ngModel)]="updatedCoupon.image">
                <small class="text-danger" [class.d-none]="couponByPriceImage.valid || couponByPriceImage.untouched ">image is required</small>

              </div>

              <button [disabled]="updataCouponBtnDisabled" type="submit" class="btn btn-primary" [disabled]="couponByPriceTitle.invalid  || couponByPriceStartDate.invalid  ||
          couponByPriceEndDate.invalid ||couponByPriceAmount.invalid  ||couponByPriceType.invalid  ||couponByPriceMassege.invalid  ||couponByPriceImage.invalid "
                data-toggle="collapse" data-target="#updateCouponByPriceModalCenter" aria-controls="#updateCouponByPriceModalCenter">Update</button>
              
            </form>
          </div>
        </div>
        <!-- update compny by price collap end -->

      </div>
      <!--search coupon by price end -->


      <!--search coupon by end date start -->
      <div class="tab-pane fade " id="v-pills-get-coupon-by-endDate" role="tabpanel" aria-labelledby="v-pills-get-coupon-by-endDate-tab">
        <div *ngIf="logInSuccess && activateGetCouponByEndDateTab ">
          <!-- search coupon by end data input  -->
          <form #searchByCouponEndDateForm="ngForm" (ngSubmit)="listSpecificCoouponsByEndDate()" novalidate>
            <div class="form-row align-items-center">
              <div class="col-auto my-1">
                Enter coupon End Date :
                <input type="date" name="couponEndDate" required #couponEndDate="ngModel" id="couponEndDate-search" [(ngModel)]="serchDataForCouponsByEndDate.endDate">
              </div>

              <div class="col-auto my-1">
                <button type="submit" [disabled]="couponEndDate.invalid" class="btn btn-primary">Search</button>
              </div>
            </div>
          </form>
        </div>


        <!--show company coupons by EndDate cards start -->
        <div *ngIf="logInSuccess && specificByEndDateCouponsListed ">
          <div class="card text-center" id="couponIdByEndDate" *ngFor="let coupon of specificByEndDateCouponsList">
            <div class="card-header">
              Coupon title : {{coupon.title}}
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-4">
                  Coupon Start date : {{coupon.startDate}}
                </div>
                <div class="col-4">
                  Coupon End Date : {{coupon.endDate}}
                </div>
                <div class="col-4">
                  Coupon Price : {{coupon.price}}
                </div>

              </div>
              <div class="row">
                <div class="col-4">
                  Coupon Type : {{coupon.couponType}}
                </div>
                <div class="col-4">
                  Coupon Amount : {{coupon.amount}}
                </div>
                <div class="col-12">
                  Massege : {{coupon.massage}}
                </div>



              </div>

              <a (click)="saveCouponForDeleteOrUpdate(coupon)" class="btn btn-primary" data-toggle="modal" data-target="#deletCouponByEndDateModalCenter">Delete</a>
              <a (click)="saveCouponForDeleteOrUpdate(coupon)" class="btn btn-primary" data-toggle="collapse" data-target="#updateCouponByEndDateModalCenter"
                aria-controls="#updateCouponByTypeModalCenter">Update</a>


            </div>
            <div class="card-footer text-muted">

            </div>
          </div>

        </div>

        <!--show company coupons by EndDate cards end -->
        <!--ask if to delete coupon Modal by EndDate start -->
        <div class="modal fade" id="deletCouponByEndDateModalCenter" tabindex="-1" role="dialog" aria-labelledby="deletCouponByEndDateModalCenterTitle"
          aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="deletCouponByEndDateModalCenterTitle">Delete Coupon</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                do you want to delete this Coupon ?

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" (click)=onDeleteCoupon() class="btn btn-primary" data-dismiss="modal">Delete</button>
              </div>
            </div>
          </div>
        </div>
        <!--ask if to delete coupon Modal by EndDate end -->


        <!-- update coupon by EndDate collap start -->
        <div class="collapse" id="updateCouponByEndDateModalCenter">
          <div class="card card-body">
            <form #companyCreatCoupon="ngForm" (ngSubmit)="onUpdateCoupon()" novalidate>
              <!--update coupon-->
              <div class="form-group">
                <label for="inputCouponTitle">Title</label>
                <input type="text" class="form-control" [class.is-invalid]="couponByEndDateTitle.invalid && couponByEndDateTitle.touched"
                  disabled name="couponByEndDateTitle" #couponByEndDateTitle="ngModel" required id="couponByEndDateTitle-update"
                  [(ngModel)]="updatedCoupon.title">
                <small class="text-danger" [class.d-none]="couponByEndDateTitle.valid || couponByEndDateTitle.untouched ">title is required</small>

              </div>

              <div class="form-group">
                <label for="inputCouponStartDate">startDate</label>
                <input type="date" class="form-control" [class.is-invalid]="couponByEndDateStartDate.invalid && couponByEndDateStartDate.touched "
                  name="couponByEndDateStartDate" #couponByEndDateStartDate="ngModel" required id="couponByEndDateStartDate-update"
                  [(ngModel)]="updatedCoupon.startDate">
                <small class="text-danger" [class.d-none]="couponByEndDateStartDate.valid || couponByEndDateStartDate.untouched ">startDate is required</small>

              </div>
              <div class="form-group">
                <label for="inputCouponEndDate">endDate</label>
                <input type="date" class="form-control" [class.is-invalid]="couponByEndDateEndDate.invalid && couponByEndDateEndDate.touched "
                  name="'couponByEndDateEndDate'" #couponByEndDateEndDate="ngModel" required id="couponByEndDateEndDate-update"
                  [(ngModel)]="updatedCoupon.endDate">
                <small class="text-danger" [class.d-none]="couponByEndDateEndDate.valid || couponByEndDateEndDate.untouched ">endDate is required</small>

              </div>

              <div class="form-group">
                <label for="inputCouponAmount">Amount</label>
                <input type="number" class="form-control" [class.is-invalid]="couponByEndDateAmount.invalid && couponByEndDateAmount.touched "
                  name="couponByEndDateAmount" required #couponByEndDateAmount="ngModel" id="couponByEndDateAmount-update"
                  [(ngModel)]="updatedCoupon.amount">
                <small class="text-danger" [class.d-none]="couponByEndDateAmount.valid || couponByEndDateAmount.untouched ">amount is required</small>

              </div>
              <div class="form-group">
                <label for="inputCouponPrice">Price</label>
                <input type="number" class="form-control" [class.is-invalid]="couponByEndDatePrice.invalid && couponByEndDatePrice.touched "
                  name="couponByEndDatePrice" required #couponByEndDatePrice="ngModel" id="couponByEndDatePrice-update" [(ngModel)]="updatedCoupon.price">
                <small class="text-danger" [class.d-none]="couponByEndDatePrice.valid || couponByEndDatePrice.untouched ">Price is required</small>

              </div>

              <div class="form-group">
                <label for="inputCouponType">Coupon type</label>
                <select class="custom-select" [class.is-invalid]="couponByEndDateType.invalid && couponByEndDateType.touched " name="couponByEndDateType"
                  required #couponByEndDateType="ngModel" id="couponByEndDateType-update" [(ngModel)]="updatedCoupon.couponType">

                  <option value="RESTURANS" selected>RESTURANS</option>
                  <option value="ELECTRICITY">ELECTRICITY</option>
                  <option value="FOOD">FOOD</option>
                  <option value="HEALTH">HEALTH</option>
                  <option value="SPORTS">SPORTS</option>
                  <option value="CAMPING">CAMPING</option>
                  <option value="TRAVELLING">TRAVELLING</option>
                </select>
                <small class="text-danger" [class.d-none]="couponByEndDateType.valid || couponByEndDateType.untouched ">couponType is required</small>

              </div>

              <div class="form-group">
                <label for="inputCouponMassege">Massege </label>
                <input type="text" class="form-control" [class.is-invalid]="couponByEndDateMassege.invalid && couponByEndDateMassege.touched "
                  name="couponByEndDateMassege" required #couponByEndDateMassege="ngModel" id="couponByEndDateMassege-update"
                  [(ngModel)]="updatedCoupon.massage">
                <small class="text-danger" [class.d-none]="couponByEndDateMassege.valid || couponByEndDateMassege.untouched ">massage is required</small>
              </div>
              <div class="form-group">
                <label for="inputCouponImage">Image </label>
                <input type="text" class="form-control" [class.is-invalid]="couponByEndDateImage.invalid && couponByEndDateImage.touched "
                  name="couponByEndDateImage" required #couponByEndDateImage="ngModel" id="couponByEndDateImage-update" [(ngModel)]="updatedCoupon.image">
                <small class="text-danger" [class.d-none]="couponByEndDateImage.valid || couponByEndDateImage.untouched ">image is required</small>

              </div>

              <button [disabled]="updataCouponBtnDisabled" type="submit" class="btn btn-primary" [disabled]="couponByEndDateTitle.invalid  || couponByEndDateStartDate.invalid  ||
          couponByEndDateEndDate.invalid ||couponByEndDateAmount.invalid  ||couponByEndDateType.invalid  ||couponByEndDateMassege.invalid  ||couponByEndDateImage.invalid "
                data-toggle="collapse" data-target="#updateCouponByEndDateModalCenter" aria-controls="#updateCouponByEndDateModalCenter">Update</button>
              
            </form>
          </div>
        </div>
        <!-- update coupon by EndDate collap end -->

      </div>


      <!-- company income list start -->
      <div class="tab-pane fade show active" active id="v-pills-list-income" role="tabpanel" aria-labelledby="v-pills-list-income-tab">



        <!-- company income list start -->

        <div *ngIf="companyIncomeListed && logInSuccess">
          <div class="card card-body">
            <div class="row">
              <div class="col-sm">
                actions Description
              </div>
              <div class="col-sm">
                amount
              </div>

            </div>
            <div class="container" *ngFor="let income of companyIncomeList">
              <div class="row">
                <div class="col-sm">
                  <div *ngIf="income.descrption === 'COMPANY_NEW_COUPON' else  elseMassege ">
                    {{income.name}} creat new coupon
                  </div>
                  <ng-template #elseMassege>
                    {{income.name}} update coupon

                  </ng-template>
                </div>
                <div class="col-sm">
                  {{income.amount}}
                </div>


              </div>
            </div>
          </div>
        </div>

        <!-- company income list end -->
      </div>
    </div>
  </div>




</div>