<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  
</div>
<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" routerLink="/customerService"  role="tab" aria-controls="nav-home" aria-selected="true">customer service</a>
      <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-home" routerLink="/companyService"  role="tab" aria-controls="nav-profile" aria-selected="false">company service</a>
      <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-home" routerLink="/adminService"  role="tab" aria-controls="nav-contact" aria-selected="false">admin service</a>
    </div>
  </nav>
  
  


    <router-outlet></router-outlet>
    <!--  Routed niews go here -->
  



